
html, body {
  background-color: white;
  height: 100%;
  font-family: 'Inter';
}

html {
  overflow-y: auto !important;
}

#login .login-link-text{
  color: white;
}

#login {
  z-index: 1000;
}

.main-toolbar {
  border:none;
}

@media (min-width: 601px) {
  .show-mobile {
    display: none !important;
  }
}


@media (max-width: 600px) {
  .show-desktop {
    display: none !important;
  }
}


.vis-item .vis-item-overflow {
  overflow: visible;
}

/* Projects timeline */
.projects-timeline .vis-item {
  border: none;
  background-color: transparent;
}

.projects-timeline .vis-item .vis-item-content {
  padding: 0;
}

.projects-timeline .timeline-custom-item {
  border-radius: 4px;
  min-height: 32px;
  line-height: 32px;
  margin:0; 
  padding:5px;   
}

.projects-timeline .vis-item.vis-selected .timeline-custom-item {
  font-weight: bold;
}

.projects-timeline .timeline-custom-item-default-colors {
  background-color: #b3d4fc;
}

/* project (tasks) timeline */
.project-timeline .vis-item {
}

.project-timeline .vis-item .vis-item-content {
}

.project-timeline .timeline-custom-item {
  border-radius: 4px;
  min-height: 32px;
  line-height: 32px;
  margin:0; 
  padding:5px;   
}

.project-timeline .vis-item.vis-selected .timeline-custom-item {
  font-weight: bold;
}

.project-timeline .timeline-custom-item-default-colors {
}


p {
  margin-bottom: 0px !important;
}
