html, body {
  background-color: #eee;
  height: 100%;
  font-family: Lato;
}

#login .login-link-text{
  color: white;
}

#login {
  z-index: 1000;
}

.main-toolbar {
  /* background-color: #eee !important; */
  border:none;
}
