html, body {
  background-color: #eee;
  height: 100%;
  font-family: Lato;
}

#login .login-link-text{
  color: white;
}

#login {
  z-index: 1000;
}

.main-toolbar {
  /* background-color: #eee !important; */
  border:none;
}

@media (min-width: 601px) {
  .show-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .show-desktop {
    display: none;
  }
}

.absolute-right {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1002;
}
