.tiptap-editor-view blockquote {
  border-left: 4px solid#ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.tiptap-editor-view pre {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: black;
  color: white;
  overflow-x: auto;
}

.tiptap-editor-view pre code {
  display: block;
  color: white;
  background-color: black;
  font-size: 1em;
}

.tiptap-editor-view pre code:after,
.tiptap-editor-view pre code:before {
  content: "";
}

/* 
tiptap removes <br> inside empty <p> tag so there is 
a mismatch between editing text & result

see https://github.com/scrumpy/tiptap/issues/412
*/
.tiptap-editor-view p:empty::after {
  content: "\00A0";
}

.tiptap-editor-view table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.tiptap-editor-view table td,
.tiptap-editor-view table th {
  min-width: 1em;
  border: 2px solid #ddd;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.tiptap-editor-view table td > *,
.tiptap-editor-view table th > * {
  margin-bottom: 0;
}

.tiptap-editor-view table th {
  font-weight: bold;
  text-align: left;
}

.tiptap-editor-view table .selectedCell::after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.tiptap-editor-view table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.tiptap-editor-view .tableWrapper {
  margin: 1em 0;
  overflow-x: auto;
}

.tiptap-editor-view .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
