@mixin tabs-menu {
  padding: 0 !important;
  display: flex;
  overflow: hidden;

  .v-list-item {
    padding: 0px 12px;
  }
  &.dense .v-list-item {
    padding: 0px 3px;
  }
  .v-list-item__content {
    padding: 12px 2px;
  }
  & .v-list-item__avatar,
  .v-application--is-ltr & .v-list-item__avatar {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  &.radius {
    border-radius: 40px !important;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}
