.~lock*
.cache
.meteor/local
.vscode
.vscode
*.swp
*.tar.gz
build.sh
build_docker.sh
docker-compose.yml
Dockerfile
node_modules/
packages/*/.build*
run_io.sh
run_ios_simulator.sh
settings-development.json
settings-development.sample.json
vador.yml
