# Created by https://www.gitignore.io/api/meteorjs

### MeteorJS ###
# default meteor build and local packages
.meteor/local
.cache
# meteor settings file
settings.json

# meteor build output files
*.tar.gz

# general swp files from vim
*.swp


# End of https://www.gitignore.io/api/meteorjs
node_modules/

settings-temp.json
settings-development.json
.vscode

.~lock*
